.container{
    background-color: lavenderblush;
}
.clear{
    margin: 30px;
    padding: 0;
} 
/*   notification bar */
.not_bar{
    width: 20%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: rgb(41, 35, 35);
    margin-left: -1%;
    margin-top: -1%;
    padding: 0%;

}


.not_bar img{
    width: 14%;
    padding: 30px;
    margin: 0;
    margin-top: 60px;


}
.not_bar a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 20px;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';


}

/*   home pages */
#home_page{
    width: 80%;
    float: right;
    padding-top: 30px;
    padding-left: 64px;

}
#home_page p{
    padding-left: 64px;

}
#home_page a{
    text-decoration: none;
    color: rgb(28, 110, 90);
}
#home_page p{
    padding-left: 64px;

}
#home_page ul{
    padding-left: 89px;
}
#home_page #home_text{
    text-align: center;
    font-size: 3em;

}
#home_page .titles{
    font-size: 1.6em;
}
#home_page #search{
    margin-left: 70%;
    width: 40%;
}
#home_page #search_input{
    width: 50%;
}
#home_page #search_image{
    width: 20px;
}
/*   about me page */

.about_me{
    width: 80%;
    float: right;
    padding-top: 30px;
    padding-left: 64px;
}
.about_me #about_me_title{
    text-align: center;
    font-size: 3em;
 
}
/*the cv page */

#pdf{
    width: 80%;
    float: right;
    padding-top: 30px;
    padding-left: 64px;
    height: 1000px;

}


/*the contact page */
#contact_abel{
    width: 80%;
    float: right;
    padding-top: 30px;
    padding-left: 64px;
    height: 1000px;
    font-size: 2.2em;
   

}
#contact_abel a{
    text-decoration: none;
}



/* The end */